/* Shared Style Start Here */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#seconday-font{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 160px;
    line-height: 50%;
}
body{
    background-color: #000000;
    font-family: "Inter", sans-serif;
    color: rgb(255,255,255);
}
.display-flex{
    display: flex;
}
#Secondary-Bg-color{
    background-color: rgb(230, 83, 60);
}
#Secondary-font-color{
    color: rgb(230, 83, 60);
}
/* Share Style Ended */

/*  Body Style Start here */

/* header Style Start Here */

/* Nav Style start here */
.Nav-link{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    width: 465px;
    height: 46px;
    align-items: center;
}
.Nav-link li{
    margin-right: 47px;
    list-style: none;
    margin-left: 4px;
}
.Nav-link a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
}
.Nevigation-bar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 57px 190px 0 190px;
}
.Nav-logo-Name{
    font-size: 36px;
    font-weight: 800;
}
.menu-icon{
    display: none;
}
#Nav-Home{
    border-radius: 46px;
    background-color: rgb(230, 83, 60);
    font-weight: 600;
    padding: 8px 20px 8px 20px;
    text-align: center;
}
/* Nav Style End */

/* Hero Bg Start */
.hero-bg{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
} 
.hero-Title{
    width: 520px;
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 28px;
    line-height: 120%;
}

.Font-Color{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}
.primary-btn{
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    border: none;
}
.secondary-btn{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background-color: #000000;
    margin-left: 14px;
}
.hero-Container{
    margin-top: 96px;
    padding-left: 190px;
    padding-right: 167px;
}
.hero-Container2{
    margin-top: 32px;
    margin-bottom: 100px;
    position: relative;
}
.hero-Container2 img{
    max-width: 349px;
    /* max-height: 580px; */
}
.btn-deco{
    margin-top: 28px;
}
.video{
    font-weight: 900;
    font-size: 24px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: left;
}
.video2{
    font-size: 40px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    line-height: 40px;
}
.tutorial{
    font-size: 16px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
    letter-spacing: 0.5;
    line-height: 24px;
    padding-top: 8px;
}
.tutorial2{
    font-size: 13px;
    font-weight: 400;
    color: rgb(255,255,255,0.65);
    letter-spacing: 1px;
    line-height: 20px;
    padding-top: 8px;
}
.hero-Container2 i{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 12.5px;
    margin-left: 5px;
}
.speacial-btn-div1{
    background-color: rgb(255, 0, 0);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.speacial-btn{
    position: absolute;
    bottom: 70px;
    left: -110px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(48, 48, 48, 0.54);
    padding: 20px;
    border-radius: 12px;
}
.speacial-btn2{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 20px;
    padding-bottom: 17px;
    padding-top: 16px;
    padding-right: 23px;
    border-radius: 12px;
    text-align: start;
    border: 1px solid rgb(255, 255, 255,0.1);
    top: 125px;
    right:-50px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
/* Hero Bg End */
/* header Style End */

/* Main Section Start Hear */
/* Habit Section Start */
.habit{
    max-width: 1044px;
    margin: 0 auto;
    /* margin: 150px 190px 0 190px; */
}
.habit-title{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 14px;
    margin-top: 20px;
}
.habit-description{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.habit-img-title{
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 6px 0;
}
.habit-img-descrip{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.Habit-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 32px;
}
.image-container>img{
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgb(53, 52, 52);
    padding: 6px;
}
.image-container{
    text-align: center;
}
/* Habit Section End */
/* Run Section Started */
.Run{
    max-width: 1440px;
    margin: 0 auto;
}
.Run-cointainer{
    border-radius: 18px;
    background-color: rgb(34, 34, 34);
    margin: 100px 190px 100px 190px;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
}
.Run-image{
    border-radius: 18px;
    width: 366px;
    height: 366px;
}
.Run-image{
    object-fit: none;
    object-position:60% 68%;
}
.Run-Descrip-container{
    width: 443px;
    height: 290px;
    align-items: center;
}
.Run-conteiner-title{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}
.Run-container-Descrip{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 34px;
}
/* Run Section End */
/* As My Wish Section Start */

/* As My Wish Section End */
/* BMI Calculator Strat */
.BMI-Calculator{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 384px;
}
.BMI-Cal-Title{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
    margin-top: 100px;
}
.BMI-Cal-Descrip{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 90px;
}
/* BMI Calculator End */
/* BMI Calculation start */
.BMI-Calculation{
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
    padding: 52px 190px;
    margin-bottom: 90px;
}
.BMI-Container{
    display: flex;
    gap: 170px;
}
.BMI-Div1{
    width: 313px;
}
.BMI-Div2{
    width: 577px;
}
.BMI-Div-title{
    margin-bottom: 52px;
    font-size: 28px;
    font-weight: 900;
}
.BMI-Div-title2{
    margin-bottom: 18px;
    font-size: 28px;
    font-weight: 900;
}
table{
    width: 310px;
}
th,td,table{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}
th,td{
    padding: 15px;
    text-align: left;
}
.small-font{
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.table-hader{
    font-weight: 500;
    font-size: 16px;
}
.from-section{
    padding-top: 38px;
}
  
.input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    gap: 15px;
}
::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
input, select {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #444;
    color: #FFFFFF99;
}
.bmi-btn{
    margin-top: 25px;
}
/* BMI Calculation End */

/* As-My-Wish Section Start */
.As-My-Wish-container{
    background-color: #FFFFFF30;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 50px;
    border-radius: 10px;

}
.As-My-Wish-title{
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding-left: 190px;
    padding-right: 190px;
    font-family: "Oswald", sans-serif;
    padding-top: 20px;
}
.As-My-Wish-Programs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 90px;
    padding-right: 40px;
}
.As-My-Wish-Programs img{
    border-radius: 10px;
}
.As-My-Wish-Programs h1{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}

/* Meet Our Team SEction Start */
.Our-Team{
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 90px;
}
.team-title{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}
.team-description{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF80;
    margin-bottom: 58px;
}
.team-image1{
    background:linear-gradient(rgba( 0, 0, 0, 0.2),rgba( 0, 0, 0, 0.2)) ,url('images/trainer1.png');
    background-position: center;
    width: 326.67px;
    height: 272px;
    background-repeat: no-repeat;
    background-size:cover ;
    border-radius: 18px;
 }
 .team-image2{
    background:linear-gradient(rgba( 0, 0, 0, 0.2),rgba( 0, 0, 0, 0.2)) ,url('images/trainer2.png');
    background-position: center;
    width: 326.67px;
    height: 272px;
    background-repeat: no-repeat;
    background-size:cover ;
    border-radius: 18px;
 }
 .team-image3{
    background:linear-gradient(rgba( 0, 0, 0, 0.2),rgba( 0, 0, 0, 0.2)) ,url('images/trainer3.png');
    background-position: center;
    width: 326.67px;
    height: 272px;
    background-repeat: no-repeat;
    background-size:cover ;
    border-radius: 18px;
 }
 .team-image4{
    background:linear-gradient(rgba( 0, 0, 0, 0.2),rgba( 0, 0, 0, 0.2)) ,url('images/trainer4.png');
    background-position: center;
    width: 326.67px;
    height: 272px;
    background-repeat: no-repeat;
    background-size:cover ;
    border-radius: 18px;
 }
 .team-image5{
    background:linear-gradient(rgba( 0, 0, 0, 0.2),rgba( 0, 0, 0, 0.2)) ,url('images/trainer5.png');
    background-position: center;
    width: 326.67px;
    height: 272px;
    background-repeat: no-repeat;
    background-size:cover ;
    border-radius: 18px;
 }
 .team-image6{
    background:linear-gradient(rgba( 0, 0, 0, 0.2),rgba( 0, 0, 0, 0.2)) ,url('images/trainer6.png');
    background-position: center;
    width: 326.67px;
    height: 272px;
    background-repeat: no-repeat;
    background-size:cover ;
    border-radius: 18px;
 }
.Team-conteinar  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 190px 0 190px;
}
.team-image-container{
    position: relative;
}
.team-identity{
    position: absolute;
    bottom: 35px;
    left: 20px;
    text-align: left;
}
#team-name{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
}
#team-post{
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 16px;
}
/* Meet Our Team SEction End */

/* Main Section End */

/* footer section start */
footer{
    background-color: #FFFFFF1A;
    max-width: 1440px;
    margin: 0 auto;
    padding: 66px 190px 0 190px;
}
.Footer-Container{
    display: flex;
    justify-content: space-between;
}
.foot-div1{
    width: 443px;
}
.foot-div2-conteinar{
    width: 517px;
    display: flex;
    margin-bottom: 80px;
}
hr{
    border: 2px solid #FFFFFF1A;
}
.small{
    text-align: center;
    margin-top: 37px;
    padding-bottom: 37px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}
.foot-div2-con1{
    width: 50%;
    height: 100%;
}
.foot-div2-con2{
    width: 50%;
    height: 100%;
}
.foot-div1-title{
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}
.foot-div1-descrip{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.foot-div2-con-title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 38px;
}
.foot-div2-conteinar ul{
    list-style: none;
}
.foot-div2-conteinar ul{
    margin: 0 10px;
}
.foot-div2-conteinar ul li a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
}
/* Footer Section End */
.video_section{
    text-align: center;
}